name: flutter_cloud_run_workspace
description: A workspace for the Full Stack Dart on Cloud Run project.
publish_to: 'none'

environment:
  sdk: ^3.10.0

workspace:
  - backend
  - frontend
  - shared

